<h2>Profile Page</h2>

<section id="profile">
  <h4>User Info</h4>
  <p>Username: <%=current_user.name %></p>
  <p>Address: <%=current_user.address %></p>
  <p>City: <%=current_user.city %></p>
  <p>State: <%=current_user.state %></p>
  <p>Zipcode: <%=current_user.zip %></p>
  <p>Email: <%=current_user.email %></p>
  <ul><%= link_to "Update Information", "/profile/edit" %></ul>
  <ul><%= link_to "Change password", "/profile/edit_password" %></ul>
</section>
