<h1 align = "center">My Profile</h1>

<section id="profile" class="grid-item">
  <h2>User Info</h2>
  Username: <%=current_user.name %><br>
  Address: <%=current_user.address %>,
  <%=current_user.city %>,
  <%=current_user.state %>
  <%=current_user.zip %><br>
  Email: <%=current_user.email %><br>
  <%= link_to "Update Information", "/profile/edit" %>
  <%= link_to "Change password", "/profile/edit_password" %>
</section><br>
<section class="grid-container">
  <section class="grid-item">
    <%= link_to "My Orders", "/profile/orders" %>
  </section>
</section>
