<h1> Welcome Admin </h1>
<h2> Orders </h2>
<h3> Packaged </h3>
<article id="Packaged">
  <% Order.where("status = 'Packaged'").each do |order| %>
    Recipient: <%= link_to "#{order.find_user}", "/admin/users/#{order.user_id}" %><br>
    Order ID: <%= order.id %><br>
    Created at: <%= order.created_at %><br>
    <%= link_to "Ship", "/admin/#{order.id}", method: :patch%>
  <% end %>
</article>
<h3> Pending </h3>
<article id="Pending">
  <% Order.where("status = 'Pending'").each do |order| %>
    Recipient: <%= link_to "#{order.find_user}", "/admin/users/#{order.user_id}" %><br>
    Order ID: <%= order.id %><br>
    Created at: <%= order.created_at %>
  <% end %>
</article>
<h3> Shipped </h3>
<article id="Shipped">
  <% Order.where("status = 'Shipped'").each do |order| %>
    Recipient: <%= link_to "#{order.find_user}", "/admin/users/#{order.user_id}" %><br>
    Order ID: <%= order.id %><br>
    Created at: <%= order.created_at %>
  <% end %>
</article>
<h3> Cancelled </h3>
<article id="Cancelled">
  <% Order.where("status = 'Cancelled'").each do |order| %>
    Recipient: <%= link_to "#{order.find_user}", "/admin/users/#{order.user_id}" %><br>
    Order ID: <%= order.id %><br>
    Created at: <%= order.created_at %>
  <% end %>
</article>
