<h1 align = "center">My Profile</h1>

<section id="profile" class="grid-item">
  <h2>User Info</h2>
  Username: <%=current_user.name %><br>
  Address: <%=current_user.address %>,
  <%=current_user.city %>,
  <%=current_user.state %>
  <%=current_user.zip %><br>
  Email: <%=current_user.email %><br>
</section><br>
