<h1 align = "center">My Profile</h1>

<section id="profile" class="grid-item">
  <h2>User Info</h2>
  Username: <%=@user.name %><br>
  Address: <%=@user.address %>,
  <%=@user.city %>,
  <%=@user.state %>
  <%=@user.zip %><br>
  Email: <%=@user.email %><br>
</section><br>
