<h2>Order Number (#<%= @order.id %>)</h2>
<section class="grid-container">
  <section class="grid-item">
    <%= "Recipient: #{@order.name}" %><br>
    <%= "Address: #{@order.address}, #{@order.city}, #{@order.state} #{@order.zip}" %><br>
    <% @order.merchant_specific_items(@merchant).each do |item_order| %>
      <%= image_tag item_order.item.image %><br>
      Product: <%= link_to item_order.item.name, "/items/#{item_order.item.id}" %><br>
      Price: <%= number_to_currency(item_order.price) %><br>
      Quantity: <%= item_order.quantity %><br>
      <article id="item-<%=item_order.item.id%>">
        <% if item_order.item.can_be_fulfilled(@order.amount_wanted(item_order.item.id)) == false %>
          <ul> Item does not have enough in stock to fulfill order. </ul>
        <% elsif item_order.item.can_be_fulfilled(@order.amount_wanted(item_order.item.id)) == true && item_order.status == "Unfulfilled" %>
          <ul><%= link_to "Fulfill", "/admin/merchants/#{@merchant.id}/merchant_orders/#{@order.id}/#{item_order.item.id}", method: :patch%>
        <% else %>
          <p> This item has already been fulfilled. </p>
        <% end %>
      </article>
    <% end  %>
  </section>
</section>
<center><%= link_to "Go Back", request.referer %></center>
