<br><section id="profile" class="grid-item">
  <h2>User Info</h2>
  Name: <%=@user.name %><br>
  Address: <%=@user.address %>,
  <%=@user.city %>,
  <%=@user.state %>
  <%=@user.zip %><br>
  Email: <%=@user.email %><br>
</section><br>
<div align="center">
  <%= link_to "Go Back", request.referer %>
</div>
