<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% flash.each do |name, msg| %>
  <div class= "<%=name%>-flash">
    <p><%= msg %></p>
  </div>
  <% end %>

  <body>
    <nav class = "topnav">
        <%= link_to "Home", "/" %>
        <%= link_to "All Merchants", "/merchants"%>
        <%= link_to "All Items", "/items"%>
      <% if current_user.role == 0 %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "Register", "/register" %>
        <%= link_to "Log-In", "/login" %>
      <% elsif current_user.role == 1 %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout" %>
        <p>Logged in as: <%= current_user.name %></p>
      <% elsif current_user.role == 2 %>
        <%= link_to "Merchant Dashboard", "/merchant/dashboard" %>
        <%= link_to "Cart: #{cart.total_items}", "/cart" %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout" %>
        <p>Logged in as: <%= current_user.name %></p>
      <% elsif current_user.role == 3 %>
        <%= link_to "Admin Dashboard", "/admin/dashboard" %>
        <%= link_to "All Users", "/admin/users" %>
        <%= link_to "Profile", "/profile" %>
        <%= link_to "Logout", "/logout" %>
        <p>Logged in as: <%= current_user.name %></p>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
